@import url(card.css);

:root{
  --h1: 5rem;
  --h2: 2rem;
  --h3: 1.5rem;
  --h4: 1rem;
  --h5: 0.5rem;
}

head,
body, 
*{
  background-color: wheat;
}
.btn{
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
.query{
  align-items: center;
  size: var(--h5);
  text-align: center;
}
.placeholder{
  font-size: var(--h3);
}

.art-title{
  text-align: center;
  background-color: white;
}

h1,
h2,
h3{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.search{
  font-size: var(--h4);
  font-weight: bold;
  border-radius: 3px;
}